@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    scrollbar-width: thin;
    text-decoration: none;
}

:root {
    --primary_color: #1d71b8;
    --secondary_color: #9bbfde;
    --white: #fff;
}

html {
    /* font-size: 62.5%; */
    min-height: 100vh;
}

body {
    color: black;
    font-size: 1.6rem;
    font-family: Inter, "sans-serif";
    font-weight: 400;
    background-image: url("../img/login_bg.webp");
    background-repeat: no-repeat;
    background-size: cover;
}

main {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    form {
        margin: 0 auto;
        width: 400px;
        background: #ffffff;
        padding: 2.5rem;
        border-radius: .5rem;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    p {
        font-weight: 500;
        font-size: .8125rem;
        a {
            &:hover {
                color: #73addf;
            }
        }

    }

    .main_logo {
        width: 200px;
        display: block;
        margin: 0 auto;
    }


    label {
        font-weight: 500;
        font-size: .8125rem;
    }

    .flex_col {
        display: flex;
        flex-direction: column;
    }

    .mt_5 {
        margin-top: 5px;
    }

    .mt_15 {
        margin-top: 15px;
    }

    .gap_10 {
        gap: 10px;
    }

    input[type="submit"] {
        padding: .7rem .75rem;
        cursor: pointer;
        background: var(--primary_color);
        color: var(--white);
        border-radius: .5rem;
        border: none;
        font-family: Inter, "sans-serif";
        font-weight: 500;
        font-size: .8125rem;
        &:hover {
            background: #73addf;
            color: #fff;
        }
    }

    .msg-dash{
        text-align: center;
    }    

    input[type="text"],
    input[type="email"],
    input[type="password"] {
        padding: .6rem .75rem;
        border-radius: .25rem;
        border: 1px solid rgb(216, 220, 230);
        background: #f4f2f22b;
        caret-color: var(--primary_color);
        font-family: Inter, "sans-serif";
        font-weight: 500;
        font-size: .8125rem;

    }

}